# Ignore node_modules
node_modules/

# Ignore frontend build
frontend/build/

# Ignore backend build
backend/build/

# Ignore environment files
.env

# Ignore IDE or editor-specific files (e.g., VSCode)
.vscode/
