@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  justify-content: center; /* Center content horizontally */
  align-items: center;
  width: 100%;
  border: 1px solid black;
}